.header {
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px; 
    justify-content: space-between; 
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 10%;
}

.user-icon {
    font-size: 2rem;
    cursor: pointer;
    margin-left: auto;
    margin-right: 5%;
}

.user-icon a {
    color: white; 
    text-decoration: none; 
}

.user-icon a:hover {
    color: #ccc; 
}
