.tabla-liga-contenedor {
  max-width: 70%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.titulo-equipo {
  text-align: center;
  max-width: 25%;
}

.tabla-liga {
  display: flex;
  overflow-x: auto;
  max-width: 100%;
}

.tabla-liga-fijo {
  width: 79%;
  border: none;
  flex: 0 0 auto;
  font-weight: bolder;
}

.tabla-liga-desplazable {
  width: 21%;
  overflow-x: auto;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0 20px 20px 0;
}

.tabla-liga-table {
  border-collapse: collapse;
  width: 100%;
}

.fila-equipo td,
.tabla-liga-table td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 0.7rem;
  min-height: 45px;  
  height: 45px;  
}

.tabla-liga th:nth-child(1),
.tabla-liga td:nth-child(1) {
  width: 5%;
}

.tabla-liga th:nth-child(2),
.tabla-liga td:nth-child(2) {
  width: 70%;
}

.tabla-liga th:nth-child(3),
.tabla-liga td:nth-child(3) {
  width: 3%;
}

.tabla-liga th:nth-child(4),
.tabla-liga td:nth-child(4) {
  width: 3%;
}

.nombre-equipo {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.pts {
  font-weight: bold;
  font-size: 0.8rem;
}

.escudo-equipo {
  width: 50px;
  height: 50px;
}

@media (min-width: 600px) {
  .escudo-equipo {
    width: 40px;
    height: 40px;
  }

  th,
  td,
  .fila-equipo td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 0.9rem;
    min-height: 50px; 
    height: 50px;
  }
}

@media (min-width: 890px) {
  .clasificacion-container {
    min-width: 850px;
  }

  .escudo-equipo {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 1024px) {
  .clasificacion-container {
    min-width: 850px;
  }

  .escudo-equipo {
    width: 50px;
    height: 50px;
  }
  
}
