.fila-partido {
  font-size: 0.9rem;
  text-align: left;
}

.nombre-equipo-td{
  max-width: 50px;
}

.escudo-equipo-local, .escudo-equipo-visitante {
  width: 30px;
  height: 30px;
}

.escudo-equipo-visitante {
  margin-left: 10px;
}

.escudo-equipo-td {
width: 10%;
}

.resultado-partido {
  text-align: center;
  font-weight: bold;
  min-width: 60px;
}


@media (min-width: 600px) {
  .escudo-equipo-local {
    width: 50px;
    height: 50px;
  }

  .escudo-equipo-visitante {
    width: 50px;
    height: 50px;
    margin-left: 5px;
  }

  td {
    font-size: 0.8rem;
    padding: 8px;
  }
}