.fila-partido {
  font-size: 0.9rem;
  text-align: left;
}

.nombre-equipo-td{
  max-width: 50px;
}

.escudo-equipo {
  width: 30px;
  height: 30px;
}

.resultado-partido {
  text-align: center;
  font-weight: bold;
  min-width: 60px;
}


@media (min-width: 600px) {
  .escudo-equipo {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  td {
    font-size: 0.8rem;
    padding: 8px;
  }
}