#root {
  max-width: 98%;  
  margin: 0 auto;
  text-align: center;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  color: black !important;
}

html, body {
  min-height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden; 
}

body {
  background: url('./assets/images/cesped.jpg') no-repeat center center fixed;
  background-size: cover;
}

@media (min-width: 768px) {
  #root {
    max-width: 1280px; 
    padding: 0 20px;  
  }
}
