.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: auto;
  box-sizing: border-box;
  width: 100%; 
  max-width: 1200px; 
  background: url('/src/assets/images/cesped.jpg') no-repeat center center fixed;
  background-size: cover;
  padding: 20px; 
  padding-bottom: 100px;
}


.jornada-container,
.clasificacion-container {
  width: 98%;
  max-width: 1200px; 
}



